@use "icons.scss";
@use "colors.scss";

@mixin select-style {
  padding: 0.5rem; // 8px
  font-size: 1rem; // 16px
  border-radius: 0.25rem; // 8px
  border: 1px solid var(--border-color, colors.$border-color);
  background-color: var( --list-item-bg-color, colors.$list-item-bg);
  color: var(--text-primary-color, colors.$primary-color);
}

body {
  margin: 0;
}

.container {
  max-width: 50rem; // 800px
  margin: 0 auto;
  padding: 1rem; // 16px
  font-family: Arial, sans-serif;

  h1 {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    margin-top: 0;
    font-style: italic;
    font-size: 1.7rem;
    color: var(--text-primary-color, colors.$primary-color);
    overflow:auto;

    img {
      float: left;
      width: 25%;
      height: auto;
    }
  }

  .language-switcher {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0.5rem;
    margin-bottom: 1rem;

    label {
      font-size: 1rem;
      color: var(--text-secondary-color, colors.$secondary-color);
    }

    select {
      @include select-style;
    }
  }

  .tool-section {
    position: relative;
    overflow: hidden;
    margin-bottom: 2.5rem; // 40px
    padding: 1rem; // 16px
    border: 1px solid var(--border-color, colors.$border-color);
    border-radius: 0.5rem; // 8px
    background: var(--section-bg-color, colors.$background-light);

    > * {
      position: relative;
      z-index: 1;
    }

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      display: block;
      opacity: 0.1;
      background-size: 100%;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: 50% 50% ;
    }

    &--attack {
      &::before {
        background-image: url("/assets/images/Zacian_Official_Package_Art.png");
      }
    }

    &--defense {
      &::before {
        background-image: url("/assets/images/Zamazenta_Official_Package_Art.png");
      }
    }

    .background-image {
      position: sticky;
      top: 0;
      width: 100%;
      z-index: -1;
    }

    h2 {
      display: flex;
      gap: 0.5rem;
      margin-top: 0;
      margin-bottom: 0.5rem; // 8px
      font-size: 1.3rem;
      color: var(--text-secondary-color, colors.$secondary-color);

      svg {
        width: 1.5rem;
        fill: var(--text-secondary-color, colors.$secondary-color);
      }
    }

    p {
      color: var(--global-color, colors.$text-color);
      margin-bottom: 1rem; // 16px
    }

    h4 {
      color: var(--text-secondary-color, colors.$secondary-color);
      margin-bottom: 0.25rem;
    }

    .type-selector {
      display: flex;
      gap: 0.5rem; // 16px

      div {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
        flex-grow: 1;
        flex-basis: 50%;
        label {
          display: block;
          font-weight: bold;
          font-size: 0.9rem;
          color: var(--text-secondary-color, colors.$secondary-color);
        }

        select {
          @include select-style;
          width: 100%; // 200px
        }
      }
    }

    .results {
      margin-top: 1rem; // 16px

      h3 {
        color: var(--text-secondary-color, colors.$secondary-color);
        margin-bottom: 0.5rem; // 8px
      }

      ul {
        list-style: none;
        padding: 0;

        li.type-item {
          background: var(--list-item-bg-color, colors.$list-item-bg);
          padding: 0.5rem; // 8px
          margin: 0.5rem 0; // 8px
          border-radius: 0.25rem; // Keep as 4px per exception
          display: flex;
          align-items: center;
          gap: 0.5rem; // 8px
          color: var(--text-primary-color, colors.$primary-color);

        }
      }

      p {
        color: var(--error-color, colors.$error-color);
      }

      .search-string {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 0.25rem; // 4px
        padding: 1rem 0.5rem;
        background: var(--list-item-bg-color, colors.$list-item-bg);
        color: var(--global-color, colors.$text-color);
        span {
          word-break: break-all;
        }
        button {
          background: none;
          border: 0;
          svg {
            width: 1.5rem;
            fill: var(--global-color, colors.$text-color);
          }
        }
      }
    }
  }
}
